body {
  background: #f8f9fa;
}

h2 {
  font-size: 1rem;
  font-weight: bold;
  color: #3e3e3e;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

.p-inputtext {
  width: 70%;
}

.p-password {
  width: 70% !important;
}

.p-password-input {
  width: 100%;
}

.p-calendar {
  width: 70% !important;
}

.p-inputnumber {
  width: 70% !important;
}
